{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
     
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br>
        <br>
        <br>
        <p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem nisl, rhoncus eget erat non, efficitur rhoncus ipsum.
Proin pellentesque sollicitudin ante vitae pretium. Curabitur ac elit blandit, sodales elit in, efficitur risus. Sed
dictum molestie purus, eget eleifend ante scelerisque ac. Donec et nisi quam. Nulla bibendum blandit leo, ac consequat
tortor cursus ac. Aliquam vel dolor a arcu venenatis sollicitudin. Donec metus neque, pretium id elementum eget, finibus
non felis. Quisque efficitur lectus mi, in molestie nunc imperdiet sed. Donec auctor venenatis tellus vel suscipit. Nunc
ut justo in elit malesuada finibus. Nulla porttitor, sem sit amet dignissim iaculis, metus nunc vehicula diam, aliquet
egestas ante mauris eget mi. Pellentesque eu purus a nunc finibus faucibus non et quam. Donec pretium magna quis tortor
molestie, eget elementum nibh dapibus.

        </p>
        <br>
        <br>
      </div>
    </center>
  </div>
</div>
{%endblock%}