{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
     
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br>
        <br>
        <br>
        <p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem nisl, rhoncus eget erat non, efficitur rhoncus ipsum.
Proin pellentesque sollicitudin ante vitae pretium. Curabitur ac elit blandit, sodales elit in, efficitur risus. Sed
dictum molestie purus, eget eleifend ante scelerisque ac. Donec et nisi quam. Nulla bibendum blandit leo, ac consequat
tortor cursus ac. Aliquam vel dolor a arcu venenatis sollicitudin. Donec metus neque, pretium id elementum eget, finibus
non felis. Quisque efficitur lectus mi, in molestie nunc imperdiet sed. Donec auctor venenatis tellus vel suscipit. Nunc
ut justo in elit malesuada finibus. Nulla porttitor, sem sit amet dignissim iaculis, metus nunc vehicula diam, aliquet
egestas ante mauris eget mi. Pellentesque eu purus a nunc finibus faucibus non et quam. Donec pretium magna quis tortor
molestie, eget elementum nibh dapibus.

Vestibulum nec gravida magna. Nunc quam quam, ultricies in nibh ac, gravida pretium lectus. Proin pellentesque leo ac
pretium condimentum. Quisque auctor dignissim massa, at auctor mauris sodales ut. Cras at nisi dapibus, pharetra felis
id, tempus turpis. Maecenas sed libero sed turpis interdum ullamcorper at sed nibh. Nunc suscipit libero elit, eu


pulvinar orci tincidunt quis. Ut enim leo, accumsan in lacus a, tempus mattis lectus. Pellentesque habitant morbi
tristique senectus et netus et malesuada fames ac turpis egestas. Praesent vel interdum arcu, vitae sollicitudin metus.
Fusce suscipit ligula et condimentum elementum. Nullam id faucibus purus. Pellentesque ullamcorper dignissim metus, sed
vestibulum nunc euismod eget.
        </p>
        <br>
        <br>
      </div>
    </center>
  </div>
</div>
{%endblock%}